<div class="EditForm">
  <@card.component />

  <div>
    <button data-test-modal-save {{on 'click' this.save}}>Save</button>
    <button data-test-modal-cancel {{on 'click' this.cancel}}>Cancel</button>
  </div>
</div>